{% extends "site_base.html" %}

{% block comments %}{% endblock %}

<title>{% block title %}App Framework: {{ report.title }} Report{% endblock %}</title>

{% block header %}{% endblock %}

{% block navbar_left %}
              {% if reports %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Reports <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% for ns in reports %}
                      {% if ns|length == 2 %}
                          <li class="dropdown-submenu">
                              <a tabindex="-1" href="#"><b>{{ ns.0|lower }}</b></a>
                              <ul class="dropdown-menu">
                                  {% for r in ns.1 %}
                                      <li><a href="{% url 'report-view' r.namespace r.slug %}">{{ r.title }}</a></li>
                                  {% endfor %}
                              </ul>
                          </li>
                      {% else %}
                          <li><a href="{% url 'report-view' ns.namespace ns.slug %}">{{ ns.title }}</a></li>
                      {% endif %}
                  {% endfor %}
                </ul>
              </li>
              {% else %}
                <li>
                    <a href="{% url 'report-view-root' %}"> Reports </a>
                </li>
              {% endif %}
              {% if user.is_authenticated %}
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Help <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li><a href="/help/about">About App Framework</a></li>
                      <li><a href="/help/netprofiler/">NetProfiler Columns</a></li>
                      <li><a href="/help/netshark/">NetShark Columns</a></li>
                      <li class="dropdown-submenu">
                          <a tabindex="-1" href="#">AppResponse</a>
                          <ul class="dropdown-menu">
                              <li><a href="/help/appresponse/sources/">AppResponse Sources</a></li>
                              <li><a href="/help/appresponse/columns/">AppResponse Columns</a></li>
                          </ul>
                      </li>
                      <li class="divider"></li>
                      <li><a href="https://splash.riverbed.com/community/product-lines/steelscript">SteelScript Support Forum</a></li>
                      <li><a href="https://support.riverbed.com/apis/index.html">Docs: REST APIs</a></li>
                      <li><a href="https://support.riverbed.com/apis/steelscript/index.html">Docs: SteelScript</a></li>
                      <li><a href="https://support.riverbed.com/apis/steelscript/appfwk/overview.html">Docs: SteelScript App Framework</a></li>
                  </ul>
              </li>
              {% endif %}
              {% if developer and user.is_superuser %}
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Developer <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li><a href="{% url 'job-list' %}">Job List API</a></li>
                      <li><a href="{% url 'table-list' %}">Table List API</a></li>
                      <li><a href="{% url 'job-visualize' %}">Job Visualization</a></li>
                      <li><a href="{% url 'logviewer' %}">Log Viewer</a></li>
                  </ul>
              </li>
              {% endif %}
{% endblock %}

{% block extra_nav_left %}
{% endblock %}

{% block extra_nav_right %}
{% endblock %}

{% block header_row %}{% endblock %}

        {% block login %}
                <small id="report-datetime" class="text-info pull-right">{% now "jS F Y H:i:s" %}</small><br>
                <small class="text-info pull-right"><span id="report-timezone">
                    {% if user.is_authenticated %}
                        <a id='update-tz' href='/preferences/user/?next={{ request.path }}'>{{ TIME_ZONE }}</a>

                    {% else %}
                        {{ TIME_ZONE }}
                    {% endif %}
                </span>
                (<span id="tz">{% now "O" %}</span>)</small>
        {% endblock %}

{% block content %}{% endblock %}

