.report-title
{
    margin: 10px 0;
}

.report-description
{
  margin-top: 0px;
  margin-left: 20px;
  padding-top: 0px;
 }

/* used for Criteria and Report header row */
.section-title
{
    font-size: 110%;
    font-weight: bold;
    padding: 5px;
    background-color: #F0F0F0;
    margin-bottom: 10px;
    border-bottom: solid 1px #d2d2d2
}

.criteria {
    margin-bottom: 10px;
}

.criteria-group-title
{
    font-weight: bold;
    background-color: #E0E0E0;
    padding: 5px;
    margin-bottom: 10px;
}

.date { width: 100px; }
.time { width: 100px; }
.duration { width: 100px; }
.filterexpr { width: 300px; }

.loading-indicator-overlay {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    /* let menus still appear over overlay */
    z-index: 999;
}

.widget-box
{
    margin-bottom: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
}

.widget-title
{
    /*font-size: 110%;*/
    font-weight: bold;
    padding: 5px;
    /*background-color: #F0F0F0;*/
    margin-bottom: 10px;
}

.widget-content
{
    /*border-top: solid 1px black;*/
}

.widget-menu-container {
    position: relative;
    display: inline;
    /*float: right;*/
    /*top: 0px;*/
    /*height: 26px;*/
    padding-left: 10px;
    font-size: .8em;
}

.widget-dropdown-menu {
    left: auto;
    right: 0px;
    text-align: left;
}

.widget-error-modal pre {
    font-size: 10px;
}

.widget-error {
    font-size: 13px;
    padding: 5px;
}

.wid-outer-container {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.wid-title {
    height: 28px;
    text-align: center;
}

.wid-content {
    margin: 10px;
}

#print-report {
    float: right;
    margin-top: 2px;
    margin-right: 1px;
    margin-left: 4px;
}

#reload-report {
    float: right;
    margin-top: 2px;
    margin-right: 1px;
    margin-left: 4px;
}

/* When the print and reload report icons are disabled, gray it out */
span#print-report.enabled {
    color: #337ab7;
}

span#reload-report.enabled {
    color: #337ab7;
}

span#print-report.disabled {
    opacity: 0.4;
}

span#reload-report.disabled {
    opacity: 0.4;
}

/*.modal-content { !* All modal content divs hidden initially *!*/
    /*display: none;*/
/*}*/

/*.modal .modal-content { !* But shown if they're inside a modal *!*/
    /*display: block;*/
/*}*/

/* Inputs for embed widget dimensions */
#embed-widget-width, #embed-widget-height {
    width: 50px;
    margin-top: 10px;
}

#embed-widget-code {
    width: 97%;
}


input[type="file"] {
    padding-top: 5px;
    line-height: 0;
}

.red-circle
{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f00;
  background: radial-gradient(#f00, #e00, #200);
}

.yellow-circle
{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff0;
  background: radial-gradient(#ff0, #ff0, #ff0, #dd0, #880, #220);
}

.green-circle
{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: radial-gradient(#0f0, #0d0, #020);
}

.gray-circle
{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: radial-gradient(#eee, #eee, #333);
}

/* colored glyphed icons */
.bordered-icon
{
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.red-icon
{
  color: #f00;
}

.yellow-icon
{
  color: #ff0;
}

.green-icon
{
  color: green;
}

.gray-icon
{
  color: grey;
}

/* add this class to make the circles a bit bigger */
.wide
{
    width: 15px;
    height: 15px;
    line-height:13px;
}

/* Add support for tooltips */
.yellow-circle:hover .tooltiptext {
    visibility: visible;
}

.green-circle:hover .tooltiptext {
    visibility: visible;
}

.red-circle:hover .tooltiptext {
    visibility: visible;
}

.gray-circle:hover .tooltiptext {
    visibility: visible;
}

.info
{
   position: absolute;
   font-size: 13px;
   font-weight: bold;
   color: black;
   margin-left: 20px;
   margin-top: 0;
}

.info-icon
{
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    color: black;
    margin-left: 33px;
    /*margin-top: 0;*/
    margin-top: -23px;
}

/*
Inspired by Inspirational Pixels here:
http://inspirationalpixels.com/tutorials/tooltips-in-pure-htmlcss
*/
.tooltiptext {
    width:10px;
    height:10px;
    display:inline-block;
    position:relative;
    border-radius:1000px;
    border:1px solid transparent;
}

.tooltiptext:hover .txt {
    display:inline-block;
}

.tooltiptext .txt {
    display:none;
    padding: 5px 10px;
    position:absolute;
    line-height:150%;
    border-radius:3px;
    font-size:12px;
    font-weight:normal;
    text-shadow:-1px 1px 0px rgba(0,0,0,0.2);
    background:rgba(0,0,0,0.75);
    color:#fff;
    z-index:1000;
}

.tooltiptext .txt:before {
    width:0px;
    padding:0px;
    position:absolute;
    content:'';
}

/* Top */
.tooltiptext.top .txt {
    bottom:20px;
    left:-10px;
}

.tooltiptext.top .txt:before {
    bottom:-5px;
    left:10px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid rgba(0,0,0,0.75);
}

/* Right */
.tooltiptext.right .txt {
    top:-10px;
    left:20px;
}

.tooltiptext.right .txt:before {
    top:10px;
    left:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-right:5px solid rgba(0,0,0,0.75);
}

/* Bottom */
.tooltiptext.bottom .txt {
    top:20px;
    left:-10px;
}

.tooltiptext.bottom .txt:before {
    top:-5px;
    left:10px;
    bottom:auto;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid rgba(0,0,0,0.75);
}

/* Left */
.tooltiptext.left .txt {
    top:-10px;
    right:20px;
}

.tooltiptext.left .txt:before {
    top:10px;
    right:-5px;
    bottom:auto;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid rgba(0,0,0,0.75);
}
