.report-description
{
  margin-top: 0px;
  margin-left: 20px;
  padding-top: 0px;
 }

.criteria {
    margin-bottom: 10px;
}

.criteria-group-title
{
    font-weight: bold;
    background-color: #E0E0E0;
    padding: 5px;
    margin-bottom: 10px;
}

.date { width: 100px; }
.time { width: 100px; }
.duration { width: 100px; }
.filterexpr { width: 300px; }

#reports-dropdown {
    position: relative;
    float: right;
    top: 0px;
    height: 26px;
}

.widget-dropdown-menu {
    left: auto;
    right: 0px;
    text-align: left;
}

.widget-error-modal pre {
    font-size: 10px;
}

.widget-error {
    font-size: 13px;
}

.wid-outer-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.wid-title {
    height: 20px;
    text-align: center;
}

.wid-content {
    margin: 10px;
}

#print-report {
    float: right;
    margin-top: 2px;
    margin-right: 1px;
    margin-left: 4px;
}

#reload-report {
    float: right;
    margin-top: 2px;
    margin-right: 1px;
    margin-left: 4px;
}

/* When the print and reload report icons are span (rather than a link), gray it out */
span#print-report {
    opacity: 0.4;
}

span#reload-report {
    opacity: 0.4;
}

.modal-content { /* All modal content divs hidden initially */
    display: none;
}

.modal .modal-content { /* But shown if they're inside a modal */
    display: block;
}

/* Inputs for embed widget dimensions */
#embed-widget-width, #embed-widget-height {
    width: 50px;
    margin-top: 10px;
}

#embed-widget-code {
    width: 97%;
}


input[type="file"] {
    padding-top: 5px;
    line-height: 0;
}

.red-circle
{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f00;
  background: radial-gradient(#f00, #e00, #200);
}

.yellow-circle
{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff0;
  background: radial-gradient(#ff0, #ff0, #ff0, #dd0, #880, #220);
}

.green-circle
{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: radial-gradient(#0f0, #0d0, #020);
}

.gray-circle
{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: radial-gradient(#eee, #eee, #333);
}

/* add this class to make the circles a bit bigger */
.wide
{
    width: 15px;
    height: 15px;
    line-height:13px;
}

/* Add support for tooltips */
.yellow-circle:hover .tooltiptext {
    visibility: visible;
}

.green-circle:hover .tooltiptext {
    visibility: visible;
}

.red-circle:hover .tooltiptext {
    visibility: visible;
}

.gray-circle:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext
{
    visibility: hidden;
    height: auto;
    width: auto;
    background-color: rgba(128,128,128,1);
    position: absolute;
    padding: 10px;
    color: white;
    border-radius: 10px;

    margin-left:25px;
    margin-bottom:10px;

    line-height: 125%;

    z-index:1;
}

.tooltiptext:after {
    position: absolute;
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid rgb(128,128,128) 10px;

    content: " ";
    top: 0;

    width: 0;
    height: 0;
    left: 3px;
    margin-left: -13px;
}

.info
{
   position: absolute;
   font-size: 13px;
   font-weight: bold;
   color: black;
   margin-left: 20px;
   margin-top: 0px;
}
